<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beta Page</title>
</head>
<body>
    <%- include('header') %>

    <header style="text-align: center; margin: 20px;">
        <h1>HELLO! THANK YOU FOR USING THIS SITE</h1>
        <p>FOR NOW, IT'S SUPER BUGGY AND PROBABLY WON'T WORK AMAZINGLY.</p>
        <p>IF YOU WOULD LIKE TO HELP, <a href="https://github.com/ThisJackRN/EmailMeTheNotes">VISIT OUR GITHUB</a> AND EDIT OUR CODE.</p>
    </header>

    <%- include('footer') %>
</body>
</html>