<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <%- include('header') %>

  <div class="container mt-5">
    <div class="jumbotron text-center">
      <div class="d-flex align-items-center">
        <img src="../static/logo.png" alt="Logo" width="100" height="100" class="mr-3">
        <h1 class="display-4">Welcome to Email Me The Notes!</h1>
      </div>
      <p class="lead">Welcome to Email Me The Notes –the best way to easily obtain your class notes! As tailored for students, there is no need to ask or wait for someone to send the materials or notes you require for downloading on our platform. Instantly find the materials and supplies you require at work, at school, at home, in the office or anywhere else!</p>
      <a class="btn btn-primary btn-lg" href="/home" role="button">Home</a>
    </div>
  </div>

  <%- include('footer') %>
</body>
</html>